<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1><%= @article.title %></h1>

      <div class="article-meta">
        <div class="info">
          <span class="date"><%= @article.created_at.strftime("%B %d, %Y") %></span>
        </div>
        <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-sm btn-outline-secondary" %>
        <%= button_to "Delete Article", article_path(@article), method: :delete, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p><%= @article.body %></p>
      </div>
    </div>
  </div>
</div>